<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>好多房 - 杭州摆摆网络科技有限公司</title>
    <meta name="keywords" content="杭州摆摆网络科技有限公司"/>
    <meta name="description" content="杭州摆摆网络科技有限公司是一家互联网制作及设计的现代设计公司
摆摆网络将市场定位于以企业互联网电子商务平台及企业信息化建设为基点，提供全方位的设计与应用方案。以网站建设及网络营销整合作为其主打服务产品之外，摆摆网络的服务范围包括软件开发、平面设计、界面设计、网页设计等多方位优质服务。 "/>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1">
    <link rel="stylesheet" href="//cdn.bootcss.com/weui/1.0.2/style/weui.min.css">
    <link rel="stylesheet" href="../public/css/about.css">
</head>
<body>
<div class="top">
    <span class="pic"></span>
    <p class="top-text">
        关于
    </p>
</div>
<div class="version">
    <div class="logo"><img src="../public/img/content_img_logo@2x.png" alt="" width="90px"></div>
    <p>好多房 v1.0.0</p>
</div>

<div class="content">
    <span class="accept">电话</span>
    <i class="icon"></i>
    <span class="data">021-68547845</span>
</div>
<div class="content">
    <span class="accept">服务条款</span>
    <i class="icon"></i>
</div>
<script src="//cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script><script>
    $(".pic").click(function(){
        history.back();
    });
</script>
</body>
</html>