<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>好多房 - 杭州摆摆网络科技有限公司</title>
    <meta name="keywords" content="杭州摆摆网络科技有限公司"/>
    <meta name="description" content="杭州摆摆网络科技有限公司是一家互联网制作及设计的现代设计公司
摆摆网络将市场定位于以企业互联网电子商务平台及企业信息化建设为基点，提供全方位的设计与应用方案。以网站建设及网络营销整合作为其主打服务产品之外，摆摆网络的服务范围包括软件开发、平面设计、界面设计、网页设计等多方位优质服务。 "/>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=0">

    <link rel="stylesheet" href="//cdn.bootcss.com/weui/1.0.2/style/weui.min.css">
    <link rel="stylesheet" href="../public/css/tabbar.css">
    <link rel="stylesheet" href="../public/css/fangyuansousuohou.css">

</head>
<body>
<div class="box">
    <div class="search">
        <input type="text" placeholder="挑好房，上好多房" autofocus>
        <button class="search-right">取消</button>
    </div>
    <div class="content">
        <div class="content1">
            <div>地铁明珠苑</div>
            <div style="font-size:12px">崔健东路198弄</div>
        </div>
        <div class="content2">
            <div>老西门地铁站8/9号线</div>
            <div style="font-size:12px">金维公寓</div>
        </div>
    </div>
    <div class="recent-research">
        <span class="left">最近搜索</span>
        <span class="right">清除</span>
    </div>
    <div class="content">
        <div class="content1">
            <div>创意产业园</div>
        </div>
        <div class="content2">
            <div>陆家嘴</div>
        </div>
    </div>

</div>
</body>
</html>