<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>好多房 - 杭州摆摆网络科技有限公司</title>
    <meta name="keywords" content="杭州摆摆网络科技有限公司"/>
    <meta name="description" content="杭州摆摆网络科技有限公司是一家互联网制作及设计的现代设计公司
摆摆网络将市场定位于以企业互联网电子商务平台及企业信息化建设为基点，提供全方位的设计与应用方案。以网站建设及网络营销整合作为其主打服务产品之外，摆摆网络的服务范围包括软件开发、平面设计、界面设计、网页设计等多方位优质服务。 "/>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=0">

    <link href="//cdn.bootcss.com/Swiper/3.4.0/css/swiper.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//cdn.bootcss.com/weui/1.0.2/style/weui.min.css">

    <script src="../public/js/cityJson.js"></script>
    <link rel="stylesheet" href="../public/css/tabbar.css">
    <link rel="stylesheet" href="../public/css/shouye.css">

</head>
<body>
<div class="btn_box">
    <div class="xuqiu">
        <div></div>
        <p>发布需求</p>
    </div>
    <div class="fangyuan">
        <div></div>
        <p>发布房源</p>
    </div>
    <div class="btn3"></div>
</div>
<div class="zhezhao"></div>
<div class="top">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="../public/img/shouye.png" alt=""></div>
            <div class="swiper-slide"><img src="../public/img/shouye.png" alt=""></div>
            <div class="swiper-slide"><img src="../public/img/shouye.png" alt=""></div>
        </div>
        <!-- 如果需要分页器 -->
        <div class="swiper-pagination"></div>
    </div>
    <div class="city-selector"><span>上海</span><i></i></div>
    <div class="title"><span>好多房</span></div>
    <div class="search-container1">
        <div class="search-box1"><i class="icon-search"></i><span class="text-search">挑好房，上好多房</span></div>
    </div>
</div>
<div class="topbox">
    <div class="city-selector"><span>上海</span><i></i></div>
    <div class="search-container">
        <div class="search-box"><i class="icon-search"></i><span class="text-search">挑好房，上好多房</span></div>
    </div>
</div>

<div class="nav">
    <div class="list">
        <ul>
            <li class="area">区域 <i class="classin"></i></li>
            <li class="square">面积 <i class="classin"></i></li>
            <li class="price">单价 <i class="classin"></i></li>
            <li class="gengduo">更多 <i class="classin"></i></li>
            <li class="img"><img src="../public/img/content_icon01_nor@2x.png" alt="" width="20px" height="20px"></li>
        </ul>
    </div>
</div>

<div style="clear:both"></div>
<div class="ding"></div>
<div class="content">
    <img src="../public/img/content_img_list@2x.png" alt="" width="40%">
    <div class="content-text">
        <div class="leftTop"><span>东方金融中心</span><span class="like"></span></div>
        <div class="leftMiddle"><span>浦东-八佰伴</span></div>
        <div class="leftMiddle2"><span>商务中心</span></div>
        <div class="leftBottom"><span style="color:#ff6725">￥7</span><span style="font-size: 12px;color:#666666">元/平米/天起</span><span style="float:right;font-size: 12px;margin-top:-20px">佣金：1个月</span></div>
    </div>
</div>
<div class="content">
    <img src="../public/img/content_img_list@2x.png" alt="" width="40%">
    <div class="content-text">
        <div class="leftTop"><span>东方金融中心</span><span class="like"></span></div>
        <div class="leftMiddle"><span>浦东-八佰伴</span></div>
        <div class="leftMiddle2"><span>商务中心</span></div>
        <div class="leftBottom"><span style="color:#ff6725">￥7</span><span style="font-size: 12px;color:#666666">元/平米/天起</span></div>
    </div>
</div>
<div class="content">
    <img src="../public/img/content_img_list@2x.png" alt="" width="40%">
    <div class="content-text">
        <div class="leftTop"><span>东方金融中心</span><span class="like"></span></div>
        <div class="leftMiddle"><span>浦东-八佰伴</span></div>
        <div class="leftMiddle2"><span>商务中心</span></div>
        <div class="leftBottom"><span style="color:#ff6725">￥7</span><span style="font-size: 12px;color:#666666">元/平米/天起</span></div>
    </div>
</div><div class="content">
    <img src="../public/img/content_img_list@2x.png" alt="" width="40%">
    <div class="content-text">
        <div class="leftTop"><span>东方金融中心</span><span class="like"></span></div>
        <div class="leftMiddle"><span>浦东-八佰伴</span></div>
        <div class="leftMiddle2"><span>商务中心</span></div>
        <div class="leftBottom"><span style="color:#ff6725">￥7</span><span style="font-size: 12px;color:#666666">元/平米/天起</span></div>
    </div>
</div>
<div class="content">
    <img src="../public/img/content_img_list@2x.png" alt="" width="40%">
    <div class="content-text">
        <div class="leftTop"><span>东方金融中心</span><span class="like"></span></div>
        <div class="leftMiddle"><span>浦东-八佰伴</span></div>
        <div class="leftMiddle2"><span>商务中心</span></div>
        <div class="leftBottom"><span style="color:#ff6725">￥7</span><span style="font-size: 12px;color:#666666">元/平米/天起</span></div>
    </div>
</div>
<div style="width:1px;height:60px"></div>
<div class="bottom">
    <ul>
        <li><img src="../public/img/bottom_press_icon04@2x.png" alt="" width="25px"><span style="display: block;color:orangered">登录</span></li>
        <li><img src="../public/img/bottom_nor_icon03@2x.png" alt="" width="25px"><span style="display: block">预约</span></li>
        <li><img src="../public/img/bottom_icon05@2x.png" alt="" width="45px"></li>
        <li><img src="../public/img/bottom_nor_icon02@2x.png" alt="" width="25px"><span style="display: block">信息</span></li>
        <li><img src="../public/img/bottom_nor_icon01@2x.png" alt="" width="25px"><span style="display: block">我</span></li>
    </ul>
</div>
<div class="toTop">

</div>
<div class="jiage">
    <div class="priceOption">全部</div>
    <div class="priceOption">3元/㎡/天以下</div>
    <div class="priceOption">3-4元/㎡/天</div>
    <div class="priceOption">4-5元/㎡/天</div>
    <div class="priceOption">5-7元/㎡/天</div>
    <div class="priceOption">7-9元/㎡/天</div>
    <div class="priceOption">9-12元/㎡/天</div>
    <div class="priceOption">12元/㎡/天以上</div>
    <div class="box"><input type="text">----<input type="text"><button class="btn01">确定</button></div>
</div>
<div class="mianji">
    <div class="mianjiOption">全部</div>
    <div class="mianjiOption">100㎡以下</div>
    <div class="mianjiOption">100-200㎡</div>
    <div class="mianjiOption">200-300㎡</div>
    <div class="mianjiOption">300-500㎡</div>
    <div class="mianjiOption">500-1000㎡</div>
    <div class="mianjiOption">1000㎡以上</div>
    <div class="box"><input type="text">----<input type="text"><button class="btn01">确定</button></div>
</div>
<div class="more">
    <div class="left">
        <div class="subway">地铁</div>
        <div class="house">房型</div>
        <div class="decorate">装修</div>
    </div>
    <div class="right">
        <div class="ditie">
            <div>全部</div>
            <div>1号线</div>
            <div>2号线</div>
            <div>3号线</div>
            <div>4号线</div>
            <div>5号线</div>
            <div>6号线</div>
            <div>7号线</div>
            <div>8号线</div>
            <div>9号线</div>
        </div>
        <div class="fangxing">
            <div>全部</div>
            <div>众创空间</div>
            <div>商务中心</div>
            <div>创意产业园</div>
            <div>写字楼</div>
            <div>工位</div>
            <div>整栋</div>
            <div>整层</div>
        </div>
        <div class="zhuangxiu">
            <div>全部</div>
            <div>豪装</div>
            <div>精装</div>
            <div>简装</div>
            <div>标准交付</div>
            <div>毛胚</div>
        </div>
    </div>
</div>

<div class="province">
    <div class="left">

    </div>
    <div class="right">

    </div>
</div>
<script src="//cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
<script src="//cdn.bootcss.com/Swiper/3.4.0/js/swiper.jquery.min.js"></script>
<script>
    (function(){
            var mySwiper = new Swiper('.swiper-container', {
                autoplay: 1000,
                pagination: '.swiper-pagination'
            });
    })();
    $(function(){
        $(".like").click(function(event){
            event.stopPropagation();
        });
    });
    $(".like").bind("click",function(){
        if($(this).attr("class")=="like"){
            $(this).attr("class","liked")
        }else{
            $(this).attr("class","like")
        }
    });

    $(".city-selector").click(function(){
        window.location = "cityselect.html";
    });

    $(".bottom ul li:nth-of-type(3)").click(function(){
        $(".btn_box").css("display","block");
    });
    $(".btn3").click(function(){
        $(".btn_box").css("display","none");
    });
    $(".xuqiu").click(function(){
        window.location = "fabufangyuan.html";
    });
    $(".fangyuan").click(function(){
        window.location = "fabuxuqiu.html";
    });

    $(".bottom ul li:nth-of-type(2)").click(function(){
      window.location = 'yuyue.html'
    });
    $(".bottom ul li:nth-of-type(4)").click(function(){
        window.location = 'xiaoxi.html'
    });
    $(".bottom ul li:nth-of-type(5)").click(function(){
        window.location = 'My.html'
    });
    $(".content").click(function(){
        window.location = 'dashaxiangqing.html'
    });

    $(".zhezhao").click(function(){
        $(".mianji").css("display","none");
        $(".square").css("color","#000");
        $(".zhezhao").css("display","none");
        $(".square i").removeClass("classih");
        $(".square i").addClass("classin");
        $(".province").css("display","none");
        $(".area").css("color","#000");
        $(".zhezhao").css("display","none");
        $(".area i").removeClass("classih");
        $(".area i").addClass("classin");
        $(".more").css("display","none");
        $(".gengduo").css("color","#000");
        $(".zhezhao").css("display","none");
        $(".gengduo i").removeClass("classih");
        $(".gengduo i").addClass("classin");
        $(".jiage").css("display","none");
        $(".price").css("color","#000");
        $(".zhezhao").css("display","none");
        $(".price i").removeClass("classih");
        $(".price i").addClass("classin");
    });
    $(window).scroll(function(){
        var scrollTop = $(window).scrollTop();
        var tools_top = $(".nav").offset().top;
        if(scrollTop >= 284){
            $(".nav").css({"position":"fixed",
                "top":"-220px"
                ,"z-index":"11"});
            $(".topbox").css({"display":"block"});
        }
        else{
            $(".nav").css({"position":"absolute",
                "top":50});
            $(".topbox").css({"display":"none"});
        }
    });
    $(".toTop").click(function(){
        $('body,html').animate({scrollTop:0},500);
    });

    $(".img img").click(function(){
        if($(this).attr("src") == "../public/img/content_icon01_nor@2x.png"){
            $(this).attr("src","../public/img/content_icon01_litre@2x.png")
        }else if($(this).attr("src") == "../static/img/content_icon01_litre@2x.png"){
            $(this).attr("src","../public/img/content_icon01_down@2x.png")
        }else{
            $(this).attr("src","../public/img/content_icon01_nor@2x.png")
        }
        $(".province").css("display","none");
        $(".area").css("color","#000");
        $(".zhezhao").css("display","none");
        $(".area i").removeClass("classih");
        $(".area i").addClass("classin");
        $(".jiage").css("display","none");
        $(".price").css("color","#000");
        $(".zhezhao").css("display","none");
        $(".price i").removeClass("classih");
        $(".price i").addClass("classin");
        $(".more").css("display","none");
        $(".gengduo").css("color","#000");
        $(".zhezhao").css("display","none");
        $(".gengduo i").removeClass("classih");
        $(".gengduo i").addClass("classin");
        $(".mianji").css("display","none");
        $(".square").css("color","#000");
        $(".zhezhao").css("display","none");
        $(".square i").removeClass("classih");
        $(".square i").addClass("classin");
    });
    $(".square").click(function(){
        $('body,html').animate({scrollTop:350},100);

        $(".province").css("display","none");
        $(".area").css("color","#000");
        $(".zhezhao").css("display","none");
        $(".area i").removeClass("classih");
        $(".area i").addClass("classin");
        $(".jiage").css("display","none");
        $(".price").css("color","#000");
        $(".zhezhao").css("display","none");
        $(".price i").removeClass("classih");
        $(".price i").addClass("classin");
        $(".more").css("display","none");
        $(".gengduo").css("color","#000");
        $(".zhezhao").css("display","none");
        $(".gengduo i").removeClass("classih");
        $(".gengduo i").addClass("classin");
        $(".img img").attr("src","../public/img/content_icon01_nor@2x.png");
        if($(".square i").attr("class")=="classin"){
            $(".square i").removeClass("classin");
            $(".square i").addClass("classih");
        }else{
            $(".square i").removeClass("classih");
            $(".square i").addClass("classin");
        }
        if($(".mianji").css("display") == "none"){
            $(".mianji").css("display","block");
            $(this).css("color","orange");
            $(".zhezhao").css("display","block");
        }else{
            $(".mianji").css("display","none");
            $(this).css("color","#000");
            $(".zhezhao").css("display","none");
        }
    });
    $(".price").click(function(){
        $('body,html').animate({scrollTop:350},100);
        $(".mianji").css("display","none");
        $(".square").css("color","#000");
        $(".zhezhao").css("display","none");
        $(".square i").removeClass("classih");
        $(".square i").addClass("classin");
        $(".province").css("display","none");
        $(".area").css("color","#000");
        $(".zhezhao").css("display","none");
        $(".area i").removeClass("classih");
        $(".area i").addClass("classin");
        $(".more").css("display","none");
        $(".gengduo").css("color","#000");
        $(".zhezhao").css("display","none");
        $(".gengduo i").removeClass("classih");
        $(".gengduo i").addClass("classin");
        $(".img img").attr("src","../public/img/content_icon01_nor@2x.png");
        if($(".price i").attr("class")=="classin"){
            $(".price i").removeClass("classin");
            $(".price i").addClass("classih");
        }else{
            $(".price i").removeClass("classih");
            $(".price i").addClass("classin");
        }
        if($(".jiage").css("display") == "none"){
            $(".jiage").css("display","block");
            $(this).css("color","orange");
            $(".zhezhao").css("display","block");
        }else{
            $(".jiage").css("display","none");
            $(this).css("color","#000");
            $(".zhezhao").css("display","none");
        }
    });
    $(".gengduo").click(function(){
        $('body,html').animate({scrollTop:350},100);
        $(".mianji").css("display","none");
        $(".square").css("color","#000");
        $(".zhezhao").css("display","none");
        $(".square i").removeClass("classih");
        $(".square i").addClass("classin");
        $(".jiage").css("display","none");
        $(".price").css("color","#000");
        $(".zhezhao").css("display","none");
        $(".price i").removeClass("classih");
        $(".price i").addClass("classin");
        $(".province").css("display","none");
        $(".area").css("color","#000");
        $(".zhezhao").css("display","none");
        $(".area i").removeClass("classih");
        $(".area i").addClass("classin");
        $(".img img").attr("src","../public/img/content_icon01_nor@2x.png");
        if($(".gengduo i").attr("class")=="classin"){
            $(".gengduo i").removeClass("classin");
            $(".gengduo i").addClass("classih");
        }else{
            $(".gengduo i").removeClass("classih");
            $(".gengduo i").addClass("classin");
        }
        if($(".more").css("display") == "none"){
            $(".more").css("display","block");
            $(this).css("color","orange");
            $(".zhezhao").css("display","block");
        }else{
            $(".more").css("display","none");
            $(this).css("color","#000");
            $(".zhezhao").css("display","none");
        }
    });
    $(".priceOption").click(function(){
        $(".priceOption").css("background","#efeff4");
        $(this).css("background","#ffffff");
    });
    $(".mianjiOption").click(function(){
        $(".mianjiOption").css("background","#efeff4");
        $(this).css("background","#ffffff");
    });
    $(".subway").click(function(){
        $(this).siblings().css("background","#efeff4");
        $(this).css("background","#ffffff");
        $(".fangxing").css("display","none");
        $(".zhuangxiu").css("display","none");
        $(".ditie").css("display","block");
    });
    $(".decorate").click(function(){
        $(this).siblings().css("background","#efeff4");
        $(this).css("background","#ffffff");
        $(".fangxing").css("display","none");
        $(".ditie").css("display","none");
        $(".zhuangxiu").css("display","block");
    });
    $(".house").click(function(){
        $(this).siblings().css("background","#efeff4");
        $(this).css("background","#ffffff");
        $(".fangxing").css("display","block");
        $(".ditie").css("display","none");
        $(".zhuangxiu").css("display","none");
    });
    $(".ditie div").click(function(){
        $(this).siblings().css("color","#000");
        $(this).css("color","orange");
    });
    $(".fangxing div").click(function(){
        $(this).siblings().css("color","#000");
        $(this).css("color","orange");
    });
    $(".zhuangxiu div").click(function(){
        $(this).siblings().css("color","#000");
        $(this).css("color","orange");
    });
    //设置省市
    $(".area").click(function() {
        $('body,html').animate({scrollTop:350},100);
        $(".mianji").css("display","none");
        $(".square").css("color","#000");
        $(".zhezhao").css("display","none");
        $(".square i").removeClass("classih");
        $(".square i").addClass("classin");
        $(".jiage").css("display","none");
        $(".price").css("color","#000");
        $(".zhezhao").css("display","none");
        $(".price i").removeClass("classih");
        $(".price i").addClass("classin");
        $(".more").css("display","none");
        $(".gengduo").css("color","#000");
        $(".zhezhao").css("display","none");
        $(".gengduo i").removeClass("classih");
        $(".gengduo i").addClass("classin");
        $(".img img").attr("src","../public/img/content_icon01_nor@2x.png");
        if($(".area i").attr("class")=="classin"){
            $(".area i").removeClass("classin");
            $(".area i").addClass("classih");
        }else{
            $(".area i").removeClass("classih");
            $(".area i").addClass("classin");
        }
        if($(".province").css("display") == "none"){
            $(".province").css("display","block");
            $(this).css("color","orange");
            $(".zhezhao").css("display","block");
        }else{
            $(".province").css("display","none");
            $(this).css("color","#000");
            $(".zhezhao").css("display","none");
        }
        $(".province .left").empty();
        $.each(province, function (index, element) {
            $(".province .left").append("<div  id='" + element.id + "' class='diqu'>" + element.name + "</div>");
            $(".province .left div").each(function (i, e) {
                $('.province .left div').eq(i).click(function () {
                    $(".province .right").empty();
                    var province_id = $(this).attr("id");
                    $.each(province, function (pro_index, pro_ele) {
                        if (pro_ele.id == province_id) {
                            // 遍历该省份下所有城市
                            $.each(pro_ele.city, function (city_index, city_ele) {
                                $(".province .right").append("<div class='xian'>" + city_ele.name + "</div>")
                            });
                        }
                    })
                })
            })
        });
        $(".province .left div").click(function(){
            $(this).siblings().css("background","#efeff4");
            $(this).css("background","#fff");
        });
        $(".province .left div").click(function () {
            $(".province .right div").each(function (i, e) {
                $(".province .right div").eq(i).click(function(){
                    $(this).css("color","orange");
                    $(this).siblings().css("color","#000")
                })
            })
        })
    })
</script>
</body>
</html>