<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>好多房 - 杭州摆摆网络科技有限公司</title>
    <meta name="keywords" content="杭州摆摆网络科技有限公司"/>
    <meta name="description" content="杭州摆摆网络科技有限公司是一家互联网制作及设计的现代设计公司
摆摆网络将市场定位于以企业互联网电子商务平台及企业信息化建设为基点，提供全方位的设计与应用方案。以网站建设及网络营销整合作为其主打服务产品之外，摆摆网络的服务范围包括软件开发、平面设计、界面设计、网页设计等多方位优质服务。 "/>
 <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1">
    <link rel="stylesheet" href="../public/css/public.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/weui/1.0.2/style/weui.min.css">
    <link rel="stylesheet" href="../public/css/yuyue.css">

</head>
<body>
<div class="top">
    <p class="top-text">
        预约
    </p>
</div>

<div class="content">
    <div class="c1">
        <ul>
            <li></li>
            <li><div class="text"><span style="font-size: 14px">先生/女士您好：</span><span class="time">08/03/16:02</span>
                <p style="text-indent: 1rem;font-size: 14px">我想看【京德大厦】的房源，请帮我安排，地址是常德路319号。</p>
                <span style="color:orange;font-size: 14px">看房时间：08/08</span></div>
    </li>
        </ul>
    </div>
    <button class="btn">接单</button>
    <div style="clear: both"></div>
</div>
<button class="del">删除</button>

<div class="content">
    <div class="c1">
        <ul>
            <li></li>
            <li><div class="text"><span>先生/女士您好：</span><span class="time">08/03/16:02</span>
                <p style="text-indent: 1rem;font-size: 14px">我想看【京德大厦】的房源，请帮我安排，地址是常德路319号。</p>
                <span style="color:orange;font-size: 14px">看房时间：08/08</span></div>
            </li>
        </ul>
    </div>
    <button class="status">已接单，待反馈</button>
    <div style="clear: both"></div>
</div>
<div class="content">
    <div class="c1">
        <ul>
            <li></li>
            <li><div class="text"><span>先生/女士您好：</span><span class="time">08/03/16:02</span>
                <p style="text-indent: 1rem;font-size: 14px">我想看【京德大厦】的房源，请帮我安排，地址是常德路319号。</p>
                <span style="color:orange;font-size: 14px">看房时间：08/08</span></div>
            </li>
        </ul>
    </div>
    <button class="complete">完成</button>
    <div style="clear: both"></div>
</div>
<div style="height: 60px;width:1px"></div>
<div class="bottom">
    <ul>
        <li><img src="../public/img/bottom_nor_icon04@2x.png" alt="" width="25px"><span style="display: block">登录</span></li>
        <li><img src="../public/img/bottom_press_icon03@2x.png" alt="" width="25px"><span style="display: block">预约</span></li>
        <li><img src="../public/img/bottom_icon05@2x.png" alt="" width="45px"></li>
        <li><img src="../public/img/bottom_nor_icon02@2x.png" alt="" width="25px"><span style="display: block">信息</span></li>
        <li><img src="../public/img/bottom_nor_icon01@2x.png" alt="" width="25px"><span style="display: block">我</span></li>
    </ul>
</div>
<div class="box">
    <div class="xuqiu">
        <div></div>
        <p>发布需求</p>
    </div>
    <div class="fangyuan">
        <div></div>
        <p>发布房源</p>
    </div>
    <div class="btn3"></div>
</div>
<div class="zhezhao"></div>
<script src="//cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script><script>

    $(".city-selector").click(function(){
        window.location = "cityselect.html";
    });
    $(".bottom ul li:nth-of-type(3)").click(function(){
        $(".box").css("display","block");
    });
    $(".btn3").click(function(){
        $(".box").css("display","none");
    });
    $(".xuqiu").click(function(){
        window.location = "fabufangyuan.html";
    });
    $(".fangyuan").click(function(){
        window.location = "fabuxuiqu.html";
    });
    $(".bottom ul li:nth-of-type(5)").click(function(){
        window.location = 'My.html'
    });
    $(".bottom ul li:nth-of-type(1)").click(function(){
        window.location = 'shouye.html'
    });
    $(".bottom ul li:nth-of-type(4)").click(function(){
        window.location = 'xiaoxi.html'
    });

    $(".btn").click(function(){
        window.location = "yuyuexiangqing2.html"
    });
    var startX;
    var moveX;
    var marginLeft;
    var diff;
    var height = $(".content").height();
    var top1 = $(".content").offset().top;
    console.log(top1);
    $(".del").css({"height":height-2 + "px","top":top1+1 + "px"});
            $ (function ()
    {
        var content = $ (".content");
        content.each (function (i, dom)
        {
            dom.addEventListener("touchstart",function(e){
                $(this).siblings().stop(true,true).animate({marginLeft:"0px"},500);
                $(this).attr("a","1");
                $(this).siblings().removeAttr("a");
                height = $(this).height();
                top1 = $(this).offset().top;
                console.log(top1);
                $(".del").css("display","block");
                $(".del").css({"height":height-2 + "px","top":top1+1 + "px"});
                var touch = e.touches[0]; //获取第一个触点
                startX = Number(touch.pageX);
                marginLeft = parseInt($(this).css("marginLeft"));
//                console.log(marginLeft);
            });
            dom.addEventListener("touchmove",function(e){
                var touch = e.touches[0]; //获取第一个触点
                moveX = Number(touch.pageX);
                diff = moveX-startX;
                diff = marginLeft + diff;
                if(diff < -200){
                    diff = -200
                }
                if(diff>200){
                    diff = 200;
                }
                console.log(diff);
                $(this).css("marginLeft",marginLeft);
                $(this).stop(true,true).animate({marginLeft:diff + "px"},500);
            });
            dom.addEventListener("touchend",function(e){
                console.log();
//                console.log(diff);
                if(diff < -100){
                    $(this).stop(true,true).animate({marginLeft:"-100px"},500);
                    $(".del").click(function(){
                        $(".content[a]").css("display","none");
                        $(this).css("display","none");
                    })
                }else if(diff < 0){
                    $(this).stop(true,true).animate({marginLeft:"0"},500);
                }else{
                    $(this).stop(true,true).animate({marginLeft:"0"},500);
                }
            });
        });
    });
    $(".content").click(function(){
        window.location="yuyuexiangqing2.html"
    });

</script>
</body>
</html>