.top, body {
    width: 100%
}

.top-text, ul li {
    text-align: center
}

body {
    background: #efeff4
}

.top {
    height: 50px;
    background: #fff;
    padding-top: 20px;
    position: relative
}

.top > .pic {
    background: url(../img/nav_back_icon@2x.png) center no-repeat;
    width: 20px;
    height: 36px;
    margin-left: 15px;
    background-size: 12px;
    position: absolute;
    z-index: 10
}

.top-text {
    font-size: 24px;
    color: orange
}

.btn, .get {
    color: #fff
}

.txt1, .txt2, .txt3, .txt4 {
    padding-left: 109px;
    line-height: 50px;
    height: 50px;
    border: none;
    font-size: 16px
}

.get, ul li {
    padding: 5px
}

.pass:after, .txt6:after, .txt:after {
    content: "";
    display: block;
    width: 90%;
    height: 1px;
    background: #ccc;
    margin-left: 5%
}

.content {
    width: 100%;
    background: #fff;
    margin-top: 30px;
    position: relative
}

.password1, .password2, .text, .yanzheng {
    position: absolute;
    left: 54px;
    font-size: 16px
}

.text {
    top: 13px
}

.yanzheng {
    top: 64px
}

.password1 {
    top: 115px
}

.password2 {
    top: 166px
}

.pass i {
    background: url(../img/content_password_icon@2x.png) center no-repeat;
    width: 80px;
    height: 46px;
    display: block;
    position: absolute;
    background-size: 20px
}

.shenfeng i, .txt i, .txt6 i {
    width: 77px;
    position: absolute;
    display: block
}

.btn, .shenfeng i, .txt i, .txt6 i {
    height: 50px
}

.txt i {
    background: url(../img/content_ID_icon@2x.png) center no-repeat;
    background-size: 16px
}

.txt6 i {
    background: url(../img/content_verify_icon@2x.png) center no-repeat;
    background-size: 14px
}

.shenfeng i {
    background: url(../img/content_position_icon@2x.png) center no-repeat;
    background-size: 18px
}

.btn {
    margin-top: 80px;
    border: none;
    background: #ccc;
    font-size: 20px;
    border-radius: 5px;
    width: 90%;
    margin-left: 5%
}

.get {
    position: absolute;
    top: 63px;
    right: 5%;
    border: none;
    background: orange;
    border-radius: 5px
}

ul {
    list-style: none
}

ul li {
    font-size: 18px
}

ul li:after {
    content: "";
    width: 100%;
    display: block;
    height: 1px;
    background: #ccc
}